.chat-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-container .card-body {
    height: 60vh;
    width: 100vh;
    overflow: auto;
}

@media (max-width: 978px)  {
    .chat-container .card-body {
        width: 40vh;
   }
}